{% extends '::base.html.twig' %}

{% block content %}
    {% for cat in category %}
        <a href="{{ path('site_shop_razdel', {'slug':cat.getSlug}) }}">{{ cat.getName }}</a><br>
    {% endfor %}
{% endblock %}
