{% extends '::base.html.twig' %}

{% block content %}
    <form>
        <label><input type="text" name="title">Наименование товара</label><br><br>
        <label><input type="text" name="description">Описание товара</label><br><br>
        <label><input type="text" name="price">Цена</label><br><br>
        <input type="submit" value="Добавить товар">
    </form>
    
    
    
    
{% endblock %}
