{% extends '::base.html.twig' %}

{% block name %}
    Здесь будут выводиться продукты
    
{% endblock %}

{% block content %}
    <h1 style="color:#FF0000">ЗДЕСЬ БУДУТ ВЫЛОЖЕНЫ ТОВАРЫ</h1>
    
{% endblock %}