{% extends '::base.html.twig' %}

{% block content %}
    Товар успешно изменен
    <h1>{{ product.title}}</h1>
    
    {{ product.brend }}<br>
    {{ product.price }}<br>
    {{ product.description }}
  
    
    
    
    
    
{% endblock %}
